<form action="/action_page.php">
  <div class="imgcontainer">
    <h1>Login</h1>
  </div>

  <div class="container center">
    <label><b>Username: </b></label>
    <input type="text" placeholder="Enter Username" name="uname" required><br></br>

    <label><b>Password: </b></label>
    <input type="password" placeholder="Enter Password" name="psw" required><br></br>

    <input type="checkbox" checked="checked"> Remember me<br></br>
    <button type="submit">Login</button>
  </div>
</form>
