  <div class="imgcontainer">
    <h1>Login</h1>
  </div>

  <div class="container center">
    <label><b>E-mail: </b></label>
    <input type="text" placeholder="Enter Email" name="uname"><br></br>

    <label><b>Password: </b></label>
    <input type="password" placeholder="Enter Password" name="psw"><br></br>

    <input type="checkbox" checked="checked"> Remember me<br></br>
    <button>Login</button>
    <p>New user ? <a ref = "">Sign up now!</a></p>
  </div>
